/*
* @Author: kevin
* @Date:   2016-12-30 17:00:08
* @Last Modified by:   kevin
* @Last Modified time: 2017-01-17 16:39:04
*/

.editor-icon {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;/*no*/
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: font-size 0.25s ease-out 0s;
    -moz-transition: font-size 0.25s ease-out 0s;
    transition: font-size 0.25s ease-out 0s;
    font-size: 20px;
    vertical-align: middle;
}

.RichEditor-root {
    background: #fff;
    border: 1px solid #ddd;
    font-size: 14px;
    padding: 25px;
    ul {
        list-style: disc outside none;
        padding-left: 15px;
    }
    ol {
        list-style: decimal outside none;
        padding-left: 15px;
    }
}

@import "fontSize.scss";

@font-face {
  font-family: 'iconfont';  /* project id 219379 */
  src: url('//at.alicdn.com/t/font_8nkfbegy73545cdi.eot');
  src: url('//at.alicdn.com/t/font_8nkfbegy73545cdi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_8nkfbegy73545cdi.woff') format('woff'),
  url('//at.alicdn.com/t/font_8nkfbegy73545cdi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_8nkfbegy73545cdi.svg#iconfont') format('svg');
}

// 全局重置样式
ul {
    list-style: none;
}

.hidden {
    display: none;
}

.clearfix:after {
    content: ' ';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}



/**
 * 编辑器包裹层
 */
.RichEditor-editor {
    border-top: 1px solid #ddd;
    cursor: text;
    font-size: 16px;
    margin-top: 10px;
    min-height: 280px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
    margin: 0 -15px -15px;
    padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
    min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
    display: none;
}

.RichEditor-editor .RichEditor-blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
    background-color: rgba(0, 0, 0, 0.05);
    font-size: 16px;
    padding: 20px;
    // 为了让code标签里的字换行
    pre {
        white-space: pre-wrap;
        word-wrap: break-word;
    }
}

.RichEditor-controls {
    font-size: 14px;
    margin-bottom: 5px;
    user-select: none;
}

.RichEditor-styleButton {
    color: #999;
    cursor: pointer;
    margin-right: 16px;
    padding: 2px 0;
    display: inline-block;
}

.RichEditor-activeButton {
    color: #5890ff;
}

.RichEditor-controls {
    float: left;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.hr {
    width: 100%;
    height: 0;
    border-top: 1px solid #ccc;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

figure {
    margin: 20px 0;
}

.divider-icon {
    color: #999;
    cursor: pointer;
    float: left;
    margin-right: 15px;
}

.font-color-controls {
    position: relative;
    width: 90px;
    height: 26px;
    line-height: 26px;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 5px;
    margin-right: 16px;
    cursor: pointer;
    float: left;
}

.font-color-wrap {
    padding: 0 10px 20px;
    border: 1px solid #e7e6eb;
    position: absolute;
    top: 26px;
    left: -1px;
    width: 300px;
    background-color: #fff;
    color: #8e8e8e;
}

.font-color-control-btn {
    height: 26px;
    line-height: 26px;
    display: inline-block;
}

.font-color-control-btn + .font-color-control-btn {
    margin-left: 10px;
}

.colorBlock {
    width: 25px;
    height: 25px;
    border: 1px solid #e7e6ec;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 10px;
    float: left;
    display: block;
}

#font-color-list {
    list-style: none;
    padding-left: 0;
    border-bottom: 1px dashed #e6e6e8;
    padding-bottom: 10px;
}

.color-confirm-btn {
    width: 40px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border: 1px solid #e6e5ea;
    border-radius: 3px;
    float: right;
    color: #3c3c3c;
}

.color-input {
    height: 23px;
    line-height: 23px;
    outline: none;
    border: 1px solid #e6e5ea;
    -webkit-appearance: none;
    padding-left: 10px;
    font-size: 12px;
    color: #3c3c3c;
}





























